body {
   font-family: Arial, sans-serif;
   background-color: #f4f4f4;
   text-align: center;
}

.container {
   background-color: #fff;
   max-width: 500px;
   margin: 0 auto;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.btn {
   background-color: #007BFF;
   color: #fff;
   border: none;
   padding: 10px 20px;
   margin: 5px;
   border-radius: 5px;
   cursor: pointer;
}

.btn:hover {
   background-color: #0056b3;
}

#score {
   font-weight: bold;
   margin-top: 20px;
}